# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 1. Protect your Release builds
release/

# 2. Protect your Private Signing Keys (CRITICAL)
*.jks
*.keystore

# 3. Protect your Firebase Secrets
google-services.json