@import "tailwindcss";

/* Custom scrollbar used in the app */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}

/* This makes the timer ring move smoothly instead of ticking */
.transition-all {
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 1000ms;
}